@{ 
    int userId = Lythen.Common.PageValidate.FilterParam(User.Identity.Name);
    Lythen.DAL.LythenContext db = new Lythen.DAL.LythenContext();
}
<header class="main-header" style="background-color:RGB(68,152,218)">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>广州市跃飞教育培训有限公司</h1>
            </div>
        </div>
    </div>
</header>
<nav class="main-navigation">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="navbar-header">
                    <span class="nav-toggle-button collapsed" data-toggle="collapse" data-target="#main-menu">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars"></i>
                    </span>
                </div>
                <div class="collapse navbar-collapse" id="main-menu">
                    <ul class="menu">
                        <li role="presentation">
                            <a href="@Url.RouteUrl(new { controller = "Home",action="Index" })" title="首页">首页</a>
                        </li>
                        @if (Lythen.Common.RoleCheck.CheckHasAuthority(userId, db, "系统管理"))
                        {
                            <li role="presentation">
                                <a href="@Url.RouteUrl(new { controller = "Sys_Info", action = "Index", id = 1 })" title="系统设置" target="_top">系统设置</a>
                            </li>
                        }
                        @if (Lythen.Common.RoleCheck.CheckHasAuthority(userId, db, "用户查询", "用户管理"))
                        {
                            <li role="presentation"><a href="@Url.RouteUrl(new { controller = "Teacher",action="Index" })" title="教师管理" target="_top">教师管理</a></li>
                        }
                        @if (Lythen.Common.RoleCheck.CheckHasAuthority(userId, db, "用户查询", "用户管理"))
                        {
                        <li role="presentation"><a href="@Url.RouteUrl(new { controller = "Parents",action="Index" })" title="家长管理" target="_top">家长管理</a></li>
                        }
                        @if (Lythen.Common.RoleCheck.CheckHasAuthority(userId, db, "学生查询", "学生查询"))
                        {
                        <li role="presentation"><a href="@Url.RouteUrl(new { controller = "Student",action="ViewList" })" title="学生管理" target="_top">学生管理</a></li>
                        }
                        @if (Lythen.Common.RoleCheck.CheckHasAuthority(userId, db, "课程查询", "课程管理"))
                        {
                        <li role="presentation"><a href="@Url.RouteUrl(new { controller = "Course", action = "Index" })" title="课程管理" target="_top">课程管理</a></li>
                            }
                        @if (Lythen.Common.RoleCheck.CheckHasAuthority(userId, db, "财务查询", "财务查询"))
                        {
                            <li role="presentation"><a href="@Url.RouteUrl(new { controller = "Finance", action = "Create" })" title="财务管理" target="_top">财务管理</a></li>
                        }
                        @if (Lythen.Common.RoleCheck.CheckHasAuthority(userId, db, "统计"))
                        {
                            <li role="presentation"><a href="@Url.RouteUrl(new { controller = "Statistics", action = "Index" })" title="统计查询" target="_top">统计查询</a></li>
                        }
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
