@model IEnumerable<WeChatForTraining.Models.User_Info>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.user_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_photo_path)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_info)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_Occupation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_home_address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_work_unit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_add_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_add_user)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_update_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_update_user)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_login_times)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.user_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user_photo_path)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user_phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user_info)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user_email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user_password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user_Occupation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user_home_address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user_work_unit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user_add_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user_add_user)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user_update_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user_update_user)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user_login_times)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.user_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.user_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.user_id })
        </td>
    </tr>
}

</table>
