@model Lythen.ViewModels.StatisticsSearch
@{
    ViewBag.Title = Lythen.Controllers.SiteInfo.getSiteName() + "经费使用区间统计";
    List<Lythen.ViewModels.FundsStat> StatData = (List<Lythen.ViewModels.FundsStat>)ViewData["StatData"];
    Layout = "~/Views/Shared/_statistics.cshtml";
}
<style>
.form-control {
        width: 200px;
        display: inline-block;
    }
        .detail-table > tbody > tr > td, .th-table > tbody > tr > th {
        border: none;
    }

    .detail-table, .th-table, .content-table {
        margin-bottom: 0px;
    }

        .th-table > tbody > tr > th {
            padding-top: 0px;
            padding-bottom: 0px;
        }

    .txt-bold {
        font-weight: bold;
    }

    .detail-table > tbody > tr > th, .content-table > tbody > tr > th, .th-table > tbody > tr > th, .respond-table > tbody > tr > th {
        background: lightblue;
    }

    .detail-table > tbody > tr > td, .main-table td, .respond-table td, .content-table td {
        background-color: aliceblue;
    }

    .main-table .txt-bold {
        background: lightblue;
    }

    .detail-table td {
        background-color: aquamarine;
    }

    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        vertical-align: middle;
    }
</style>
<h4>经费使用-区间统计</h4>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-10">
                经费：@Html.DropDownListFor(model => model.fund, Model.fund, ViewData["Funds"] as List<SelectListItem>, "---全部---", new Dictionary<string, object> { { "class", "select form-control" } })
                @Html.ValidationMessageFor(model => model.fund, "", new { @class = "text-danger" })
                经费管理员：@Html.DropDownListFor(model => model.manager, Model.manager, ViewData["Managers"] as List<SelectListItem>, null, new Dictionary<string, object> { { "class", "select form-control" } })
                @Html.ValidationMessageFor(model => model.manager, "", new { @class = "text-danger" })
                使用用户：@Html.DropDownListFor(model => model.userId, Model.userId, ViewData["Users"] as List<SelectListItem>, "---全部---", new Dictionary<string, object> { { "class", "select form-control" } })
                @Html.ValidationMessageFor(model => model.userId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                起始时间：@Html.EditorFor(model => model.beginDate, new { htmlAttributes = new { @class = "form-control form_date" } })
                @Html.ValidationMessageFor(model => model.beginDate, "", new { @class = "text-danger" })
                结束时间：@Html.EditorFor(model => model.endDate, new { htmlAttributes = new { @class = "form-control form_date" } })
                @Html.ValidationMessageFor(model => model.endDate, "", new { @class = "text-danger" })
                <input type="submit" value="查询" class="btn btn-info" />
            </div>
        </div>
    </div>
    <div class="col-md-10" style="color:red;width:100%;text-align:center;">
        @ViewBag.msg
    </div>
    <div class="form-horizontal">
        <table class="table content-table">
            <tr>
                <th>
                    经费名称
                </th>
                <th>已使用（元）</th>
                <th>申请数量（笔）</th>
            </tr>
            @foreach (var item in StatData)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(citem => item.name)
                    </td>
                    <td>@Html.DisplayFor(citem => item.hasUsed)</td>
                    <td>@Html.DisplayFor(citem => item.applyNum)</td>
                </tr>
            }
        </table>
    </div>
}
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/extendindexof.js"></script>
<script>
    $(function () {
        $.ajaxSetup({
            cache: true
        });
        $.getScript('../scripts/bootstrap.min.js').done(function () {
            $.getScript('../Scripts/bootstrap-datetimepicker.js').done(function () {
                $.getScript('../Scripts/locales/bootstrap-datetimepicker.zh-CN.js').done(function () {
                    $('.form_date').datetimepicker({
                        language: 'zh-CN',
                        weekStart: 1,
                        todayBtn: 1,
                        autoclose: 1,
                        todayHighlight: 1,
                        startView: 2,
                        minView: 2,
                        forceParse: 0,
                        format: 'yyyy/mm/dd'
                    });
                });
            });
        });

    });
</script>