@model Lythen.ViewModel.BaseUserModel
@{
    ViewBag.Title = "首页";
    Layout = "~/Views/Shared/_w_main.cshtml";
}
<h4>登陆信息</h4>
<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-10" style="margin-left:100px;width:80%;">
            <table class="table">
                <tr>
                    <td style="text-align:left;">
                        姓名：
                    </td>
                    <td style="text-align:right">
                        @Model.name
                    </td>
                </tr>
                <tr>
                    <td style="text-align:left;">
                        角色：
                    </td>
                    <td style="text-align:right">
                        @Model.roleName
                    </td>
                </tr>
                <tr>
                    <td style="text-align:left;">上一次登陆：</td>
                    <td style="text-align:right">@Model.lastTime</td>
                </tr>
                <tr>
                    <td style="text-align:left;">登陆IP：</td>
                    <td style="text-align:right">@Model.lastIp</td>
                </tr>
                <tr>
                    <td style="text-align:left;">登陆次数：</td>
                    <td style="text-align:right">@Model.times</td>
                </tr>
            </table>
        </div>
    </div>
</div>
